body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.navigation-wrapper{
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 100px; /*padding goes clockwise*/
    margin: 0px;
}


.left-column{
    display: flex;
    align-items: center;
}

.icon{
    margin-right: 15px;
}

.icon i{
    font-size: 2em;
}

.contact-hours-wrapper{
adsfasdfasdfasdf
}


.left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.contact-hours-wrapper > .hours{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.address-wrapper{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.nav-link a{
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
} 